# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
*.iws

# The big one: Maven target directory
/target/
